<div *ngIf="form;else loading">
  <form [formGroup]="form" (ngSubmit)="submit()" class="w-50 mx-auto">
    <h2 class="mt-3 mb-0 text-center">Update product</h2>
    <div class="form-group">
      <label for="type" class="form-label">Type:</label>
      <select formControlName="type" id="type" class="form-select">
        <option value="Phone">Phone</option>
        <option value="Tablet">Tablet</option>
        <option value="Laptop">Laptop</option>
      </select>
      <div *ngIf="form.get('type')?.touched && form.get('type')?.invalid" class="text-danger">
        <small *ngIf="form.get('type')?.hasError('required')">Choose product type</small>
      </div>
    </div>


    <label for="title" class="form-label">Name:</label>
    <input id="title" type="title" class="form-control" formControlName="title">
    <div *ngIf="form.get('title')?.touched && form.get('title')?.invalid" class="text-danger">
      <small *ngIf="form.get('title')?.hasError('required')">Enter product name</small>
    </div>

    <label for="type" class="form-label">Photo:</label>
    <quill-editor formControlName="photo"></quill-editor>



    <label for="type" class="form-label">Information:</label>
    <quill-editor formControlName="info"></quill-editor>



    <label for="price" class="form-label">Price:</label>
    <input id="price" type="price" class="form-control" formControlName="price">
    <div *ngIf="form.get('price')?.touched && form.get('price')?.invalid" class="text-danger">
      <small *ngIf="form.get('price')?.hasError('required')">Enter product price</small>
    </div>


    <button
      type="submit"
      class="btn btn-dark mt-3 w-100"
      [disabled]="form.invalid || submitted"
    >Update product</button>
  </form>
</div>
<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>
